$board-width: 80vh;
$board-size: 28;
$background: rgb(0, 0, 77);
$wall: rgb(0, 106, 245);


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}


body {
    background-color: $background;
}

header {
    display: flex;
    justify-content: space-between;

    #scoreTxt {
        margin: 20px;
        font-size: 1.5rem;
        color: white;

    }
}


#game {
    display: grid;
    grid-template-columns: repeat($board-size, 1fr);
    grid-template-rows: repeat($board-size, 1fr);
    gap: 0px;
    margin: 100px auto;
    width: fit-content;
    border: 10px solid lighten($background, 65%);



    .wall {
        background-color: $wall;
    }


    .yellow-circle {
        width: 5px;
        height: 5px;
        margin: auto;
    }

    .empty {
        background-color: $background;
    }



    div,
    img {
        width: calc($board-width/ $board-size);
        height: calc($board-width / $board-size);
    }

    @keyframes blink {
        0% {
            opacity: 1;
        }


        50% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    .cherries-img {
        animation: blink normal 1s infinite ease-in-out;
        /* Opera and prob css3 final iteration */

    }

    #userName {
        color: white;
    }
}