$board-width: 80vh;
$board-size: 28;
$background: rgb(0, 0, 77);
$wall: rgb(0, 106, 245);


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}


body {
    background-color: $background;
}

header {
    display: flex;
    justify-content: space-between;

    p {
        margin: 20px;
        font-size: 1.5rem;
        color: white;
    }


}


#game {
    display: grid;
    grid-template-columns: repeat($board-size, 1fr);
    grid-template-rows: repeat($board-size, 1fr);
    gap: 0px;
    margin: 30px auto 0 auto;
    width: fit-content;
    border: 10px solid lighten($background, 65%);



    .wall {
        background-color: $wall;
    }


    .yellow-circle {
        width: 5px;
        height: 5px;
        margin: auto;
    }

    .empty {
        background-color: $background;
    }



    div,
    img {
        width: calc($board-width/ $board-size);
        height: calc($board-width / $board-size);
    }

    @keyframes blink {
        0% {
            opacity: 1;
        }

        40% {
            opacity: 1;
        }

        50% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    .cherries-img {
        animation: blink normal 1s infinite ease-in-out;
        /* Opera and prob css3 final iteration */

    }


}

.gameover {
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    background-size: cover;
    background-position: center;
    z-index: 9999;
}
.playerBtn{
    font-size: 1.3rem;
    padding:7px;
    margin:7px;
    background-color: rgb(255, 183, 0);
}
.mspacman{
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
// #pacman-player{
//     display: inline-block;
//     transform: rotate(90) !important;
// }